<form id = "login__form" method="post">
  <div class="container">
    <div class="form__input">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="username" name="username" required>
      <font color="red">
        <span id="error_username" class="error"></span>
      </font>
    </div>
    <div class="form__input">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>
      <font color="red">
        <span id="error_password" class="error"></span>
      </font>
    </div>
    <div class="error_login"></div>
    <span class="psw">Forgot <a class="recover" href="#">password?</a></span>
    <div class="button_container">
      <input class="button" id="login" type="button" value = "Enter"/>
    </div>
    <div class="container">
      <a class="button" id="register" type="button" href="?page=login&op=viewreg">Create new account</a>
    </div>
  </div>
  <input type="button" id="botonlogin" value="Haz login con Google"/>
</form>
<div class="recoverr"></div>
