<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
                    <div id = "slide-lang">
		                <ul style = "list-style : none; text-align: right; margin: 0; padding: 0; margin-top: 2px;">
			                <li><button href="#" data-tr = "Valencian" id = "btn-val">V</buttton></li>
			                <li><button href="#" data-tr="Spanish" id = "btn-es">S</button></li>
			                <li><button href="#" data-tr = "English" id = "en">I</button></li>
		                </ul>	
	                </div>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>