<div id="header">
<header id="header">
					<h1 id="logo"><a href="index.php?page=controller_home&op=list"><img src="view/img/pic01.png" height="60"/></a></h1>
					<div id="search" style="padding-left: 130px;">
					</div>
					<nav id="nav">  
						<ul id="nav_op">
							<!-- <li><a href="index.php?page=controller_home&op=list" data-tr="Inicio">Home</a></li> -->
							<!-- <li><a href="index.php?page=controller_cars&op=list" data-tr="Cars">Cars</a></li> -->
							<!-- <li><a href="index.php?page=controller_shop&op=list" data-tr="Shop">Shop</a></li> -->
							<!-- <li><a href="index.php?page=controller_register&op=regis_view" data-tr="Sing in"></a></li> -->
							<!-- <li><a href="index.php?page=controller_login&op=login_view" data-tr="Login"></a></li> -->

						</ul>
					</nav>
				</header>

</div>

<script src="module/search/model/controller_search.js"></script>
<link rel="stylesheet" href="module/search/view/css/search.css">
